<div class="container-fluid bg-dark col">
  <div class="bg-light" style="width: 100%;height:2px; display: flex;"></div>
  <div class="row m-auto">
    <img [src]="navLogo" alt="">
    <ul class="row"  >
      <div class="container ">
        <li><a href="">career pbjective</a></li>
      </div>
      <div class="container">
        <li><a href="">work experince</a></li>
      </div>
      <div class="container">
        <li><a href="">education</a></li>
      </div>
      <div class="container">
        <li><a href="">projects</a></li>
      </div><div class="container">
        <li><a href="">contact us</a></li>
      </div>

    </ul>
  </div>
  <div class="bg-light" style="width: 100%;height:2px; display: flex;"></div>
</div>
