<div class="dialog-div">
  <!-- <h1 mat-dialog-title>Alert Box </h1> -->
  <div *ngIf="data.dialogType == 5 && !isLoading">
    <div>
      <fa-icon *ngIf="data.active" [icon]="diactiveUserIcon" style="color:#212529;"></fa-icon>
      <fa-icon *ngIf="!data.active" [icon]="activeUserIcon" style="color:#1a8654;"></fa-icon>
      <h3 *ngIf="data.active">Deactivate User</h3>
      <h3 *ngIf="!data.active">Activate User</h3>
    </div>
    <div mat-dialog-content>
      <p>{{data.message}}</p>
    </div>
    <div mat-dialog-actions>
      <button type="button" class="btn btn-outline-primary">Confirm</button>
      <button type="button" class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
    </div>
  </div>
  <div *ngIf="data.dialogType == 4 && !isLoading">
    <div>
      <fa-icon [icon]="alertIcon" style="color: #d93545;"></fa-icon>
      <h3>Delete User</h3>
    </div>
    <div mat-dialog-content>
      <p>{{data.message}}</p>
    </div>
    <div mat-dialog-actions>
      <button type="button" class="btn btn-outline-primary" (click)="deleteUserEntitiy()">Confirm</button>
      <button type="button" class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
    </div>
  </div>
  <div *ngIf="data.dialogType == 3">
    <fa-icon [icon]="editIcon" style="color: #fdbf07;"></fa-icon>
    <h3>Edit user details</h3>
  </div>
  <p-progressSpinner *ngIf="data.dialogType == 3 &&isLoading" strokeWidth='5'></p-progressSpinner>
  <div mat-dialog-content *ngIf="data.dialogType == 3 && !isLoading">
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    <form action="" method="post" >
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput [placeholder]="userData.id" [formControl] = "formControls.id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>USERNAME</mat-label>
        <input matInput [placeholder]="userData.username" [formControl] = "formControls.username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>FIRST-NAME</mat-label>
        <input matInput [placeholder]="userData.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>LAST-NAME</mat-label>
        <input matInput [placeholder]="userData.lastName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MIDDLE-NAME</mat-label>
        <input matInput [placeholder]="userData.middleName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>LEVEL-ID</mat-label>
        <input matInput [placeholder]="userData.levelId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>BALANCE</mat-label>
        <input matInput [placeholder]="userData.balance">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ADDRESS</mat-label>
        <input matInput [placeholder]="userData.address">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>GENDER</mat-label>
        <input matInput [placeholder]="userData.gender">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>VERIFIED</mat-label>
        <input matInput [placeholder]="userData.verified">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>EMAIL</mat-label>
        <input matInput [placeholder]="userData.email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MOBILE</mat-label>
        <input matInput [placeholder]="userData.mobile">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>PHONE</mat-label>
        <input matInput [placeholder]="userData.phone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CREATED-AT</mat-label>
        <input matInput [placeholder]="userData.createdAt">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>AGE</mat-label>
        <input matInput [placeholder]="userData.age">
      </mat-form-field>
    </form>

  </div>
  <div mat-dialog-actions *ngIf="data.dialogType == 3">
    <button type="button" class="btn btn-outline-primary" (click) = "updateUserEntity()">Confirm</button>
    <button type="button" class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
  </div>
  <div *ngIf="data.dialogType == 2">
    <fa-icon [icon]="informationIcon" style="color: #0dcaf0;"></fa-icon>
    <h3>Show user profile</h3>
  </div>
  <p-progressSpinner *ngIf="data.dialogType == 2 && isLoading" strokeWidth='5'></p-progressSpinner>
  <div mat-dialog-content *ngIf="data.dialogType == 2 && !isLoading">

    <div class="surface-section">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">id</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.id ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">username</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.username ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">firstName</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.firstName ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">LastName</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.lastName ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">middleName</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.middleName ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">LevelId</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.levelId ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">balance</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.balance ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">address</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.address ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">gender</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.gender ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">verified</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.verified ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">mobile</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.mobile ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">phone</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.phone ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">createdAt</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.createdAt ?? 'no-content'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
          <div class="text-500 w-6 md:w-2 font-medium">age</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="margin-left: 10px;">{{userData.age ?? 'no-content'}}</div>
        </li>

      </ul>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="data.dialogType == 2 ">
    <button type="button" class="btn btn-outline-primary">Confirm</button>
    <button type="button" class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
  </div>
  <div *ngIf="data.dialogType == 1">
    <fa-icon [icon]="editIcon" style="color: #0f6df7;"></fa-icon>
    <h3>Send notification</h3>
  </div>
  <div mat-dialog-content *ngIf="data.dialogType == 1 && !isLoading">
    <p>{{data.message}}</p>
    <form action="" method="post">
      <mat-form-field style="display: block;width: 90%;margin: auto; min-width: 90%;max-width: 90%;"
        appearance="outline">
        <mat-label>Notification content</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions *ngIf="data.dialogType == 1 && !isLoading">
    <button type="button" class="btn btn-outline-primary">Confirm</button>
    <button type="button" class="btn btn-outline-danger" (click)="onNoClick()">Cancel</button>
  </div>

</div>
